<h1>Edit <%= @sub.title %> !</h1>

<%= render partial: 'subs_form', locals: {
                                    destination_url: subs_url,
                                    button_text: 'Create Sub' } %>
