
<form action="<%= destination_url %>" method="post">
  <%= auth_tok %>

<label for='username'>Username</label>
<input id='username' type="text" name="user[username]"/>

<br/><br/>

<label for='password'>Passowrd</label>
<input id='password' type="text" name="user[password]"/>

<br/><br/>

<input type='submit' value="<%= button_text %>">
</form>
